.popup_overlay{
    display: none;
    background: rgba(0,0,0,.9);
    width: 300%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.popup{
    display: none;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    width: 600px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px;
}
.popup_title{
    font-weight: bold;
    padding: 10px;
}
.popup_content{
    padding: 10px;
    border-top: 1px solid #ccc;
}
.closer{
    float: right;
    cursor: pointer;
}